extends layout

block content
  if alerts
    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--4-col')
        h5 Oops!
        each alert in alerts
          span(class='mdl-chip mdl-chip--contact mdl-color--red mdl-color-text--white')
            span(class='mdl-chip__contact mdl-color--red-700 mdl-color-text--white') !
            span(class='mdl-chip__text') #{alert}
  form(action='/admin/posts/' + post._id, method='post', enctype='multipart/form-data')
    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--4-col')
        h5 Title
        div(class='mdl-textfield mdl-js-textfield full-width')
          input(class='mdl-textfield__input', type='text', id='title', name='title', value=post.title)
          label(class='mdl-textfield__label', for='title') Title
    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--4-col')
        h5 Body
        div(class='mdl-textfield mdl-js-textfield full-width')
          textarea(class='mdl-textfield__input', type='text', rows='10', id='body', name='body') #{post.body}
          label(class='mdl-textfield__label', for='body') Body
    div(class='mdl-grid')
      if post.images.length
        div(class='mdl-cell mdl-cell--12-col')
          h5 Remove Images
          p Check the images you want to delete
      each image in post.images
        div(class='mdl-cell mdl-cell--3-col')
          label(class='img-checkbox mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect', for='checkbox-' + image.imageId)
            input(type='checkbox', id='checkbox-' + image.imageId, class='mdl-checkbox__input', name='delImageIds', value=image.imageId)
            img(src=image.imageUrl)
    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--12-col')
        h5 Add Images
        p You can upload max. 10 images (png, jpg) with 1MB of filesize each.
        div(class='mdl-textfield mdl-js-textfield full-width')
          input(type='file', id='images', name='images', accept='image/*', multiple)
    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--4-col')
        a(class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect', href='/admin/posts') Cancel
        button(class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect', type='submit') Submit